.nav-tabs-narrow > li > a {
    line-height: 1;
    color: #555;
}

#formulaBar {
	background-color: #e5e5e5;
}

.nav-tabs-narrow > li.active > a, .nav-tabs-narrow > li.active > a:focus, .nav-tabs-narrow > li.active > a:hover {
    background-color: #fff;
    cursor: default;
    font-weight: bold;
    color: darkgreen;
}

.tab-pane > iframe {
	border : 0 none;
}